<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Voting API</display-name>

    <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>

    <servlet>
        <display-name>Admin Login</display-name>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>voting.api.AdminLogin</servlet-class>
    </servlet>

    <servlet>
        <display-name>Admin Panel</display-name>
        <servlet-name>AdminPanel</servlet-name>
        <servlet-class>voting.api.AdminPanel</servlet-class>
    </servlet>

    <servlet>
        <display-name>Add New Poll</display-name>
        <servlet-name>AddNewPoll</servlet-name>
        <servlet-class>voting.api.AddNewPoll</servlet-class>
    </servlet>

    <servlet>
        <display-name>Fetch Polls</display-name>
        <servlet-name>FetchPolls</servlet-name>
        <servlet-class>voting.api.FetchPolls</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>VerifyVoter</display-name>
    	<servlet-name>VerifyVoter</servlet-name>
    	<servlet-class>voting.api.VerifyVoter</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminPanel</servlet-name>
        <url-pattern>/adminPanel</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddNewPoll</servlet-name>
        <url-pattern>/adminPanel/addNewPoll</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FetchPolls</servlet-name>
        <url-pattern>/fetchPolls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>VerifyVoter</servlet-name>
    	<url-pattern>/verifyVoter</url-pattern>
    </servlet-mapping>

</web-app>
